body {
    background-color: #050505;
    color: #00ff41; /* Verde Matrix/Cicada */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    border: 1px solid #00ff41;
    padding: 20px;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 15px rgba(0, 255, 65, 0.2);
}

h1 {
    text-align: center;
    border-bottom: 1px solid #00ff41;
    padding-bottom: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    background: #000;
    color: #00ff41;
    border: 1px solid #004400;
    padding: 10px;
    font-family: monospace;
    box-sizing: border-box; /* Garante que não estoure a largura */
    margin-bottom: 15px;
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #00ff41;
    color: black;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.1em;
}

button:hover {
    background-color: white;
    box-shadow: 0 0 15px white;
}

#result {
    margin-top: 20px;
    padding: 15px;
    border: 1px dashed #00ff41;
    display: none; /* Escondido até clicar */
    white-space: pre-wrap; /* Mantém a formatação do texto */
}

.success {
    border-color: #00ff41 !important;
    color: #00ff41;
}

.error {
    border-color: red !important;
    color: red;
}
